workflows/B2-tts-local.json
{
  "name": "B2 — Voice (ElevenLabs TTS, local)",
  "nodes": [
    {
      "parameters": {},
      "id": "b2000000-0000-0000-0000-000000000001",
      "name": "When clicking Execute",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-520, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "1", "name": "script", "value": "Credit card ka minimum payment trap! Kya aap bhi har mahine sirf minimum amount pay karte ho? Maan lo bill hai ₹30,000 aur minimum sirf ₹1,500. Baaki ₹28,500 par high interest lagna shuru. Debt kam hone ke bajaye badhta jaata hai. Hamesha full outstanding pay karein. Minimum payment is a trap, not a solution! Finplaza ko follow karein!", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "b2000000-0000-0000-0000-000000000002",
      "name": "Set script",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-300, 300],
      "notes": "Short test line (saves free credits). Later this comes from B1's output."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xi-api-key", "value": "={{ $env.ELEVENLABS_API_KEY }}" },
            { "name": "accept", "value": "audio/mpeg" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.script, model_id: \"eleven_multilingual_v2\", voice_settings: { stability: 0.5, similarity_boost: 0.75, style: 0.15, use_speaker_boost: true } }) }}",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "audio" } }, "timeout": 120000 }
      },
      "id": "b2000000-0000-0000-0000-000000000003",
      "name": "ElevenLabs — TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-60, 300],
      "notes": "Returns MP3 on the 'audio' binary property — playable right in the n8n output panel."
    }
  ],
  "connections": {
    "When clicking Execute": { "main": [[{ "node": "Set script", "type": "main", "index": 0 }]] },
    "Set script": { "main": [[{ "node": "ElevenLabs — TTS", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
